{% extends 'base.html' %}

{% block content %}
    <br><br>
    <h1>Sala</h1>

    <br><br>

    <form method="POST" action="{% url 'sala' %}">
    {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" placeholder="ID_Sala" name="ID_Sala">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Nome da Sala" name="Nome_Sala">
        </div>
        <button type="submit" class="btn btn-secondary">Inserir</button>
    </form>

{% endblock %}